.index{
    z-index:1;
}

 .waves {
    position: absolute;
    bottom: -135px;
    height: 527px;
    width:100%;
    overflow: hidden;
    
}

.wave {
    position:absolute;
    width: 2402px;
    height: 421px;
    left:-180px;
    background: url('../img/waves.png') center bottom no-repeat;
    /*background: rgba(0,0,0,.3); */
    animation: 5s wave ease-in-out infinite alternate;

}
.wave.a {
    background-position: 0 - 854px; 
}
.wave.b {
    background-position: 0 - 427px; 
    animation-delay: .6s;
}
.wave.c {
    background-position: 0 - 0; 
    animation-delay: 1.2s;
}
@keyframes wave {
    0%{
        transform:translateX(0px) translateY(0px);
    }
    50%{
        transform:translate(-80px , 30px);
    }
    100%{
        transform:translateX(160px) translateY(-60px);
    }
}